{% extends 'base.html' %}
{% block main %}
{% load static %}
{% block css %}
<link rel="stylesheet" type="text/css" href="{% static 'css/agent_crm.css' %}">
{% endblock css %}
<section class="carousel-slid container-fluid">
    <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
        <div class="carousel-inner" role="listbox">
            <div class="carousel-item active">
                <img class="d-block w-100" src="https://www.uniagents.com/assets/images/main-baner-uniagents-1.jpg"
                    data-src="holder.js/900x400?theme=social" alt="900x400" data-holder-rendered="true"
                    style="width: 100%; height: 300px" />
            </div>
            <div class="carousel-item">
                <img class="d-block w-100" src="https://www.uniagents.com/assets/images/main-baner-uniagents-3.jpg"
                    data-src="holder.js/900x400?theme=industrial" alt="900x400" data-holder-rendered="true"
                    style="width: 100%; height: 300px" />
            </div>

            <div class="carousel-item">
                <img class="d-block w-100" src="https://www.uniagents.com/assets/images/main-baner-uniagents-4.jpg"
                    data-src="holder.js/900x400?theme=industrial" alt="900x400" data-holder-rendered="true"
                    style="width: 100%; height: 300px" />
            </div>
        </div>
        <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="sr-only">Previous</span>
        </a>
        <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="sr-only">Next</span>
        </a>
    </div>
    <!-- carosel section end -->
</section>

<!-- spacer 60 -->
<div class="spacer60"></div>
<section class="agent_crm .container-fluid mx-auto">
    <!-- <div class="spacer"></div> -->
    <!-- heading -->
    <div class="main row mx-4">
        <div class="col-12 col-md-9">
            <h1 class="crm-head text-left">Agent CRM
                <small>Effective &amp; Efficient Way to Run Your Education Agency/Consultancy Business
                    Operations</small>
            </h1>
            <!-- text -->
            <p class="text-left">UniAgents offers educational consultants an opportunity to experience flawless and
                streamlined office
                operations.
                By using our Agent CRM the consultants will be able to manage and control all their branch offices and
                counsellors working in respective offices.
                You can manage all your institutions which you represent, define your own country specific application
                process,
                track all your applications and enjoy the flexibility, transparency and control of office operations as
                never
                before.</p>
            <p class="text-left"><strong>Why UniAgents CRM for Education Consultants?</strong></p>
            <p class="text-left">We all use some sort of technology these days to manage our data
                like Excel sheets, Emails, Whatsapp or may be some online/offline softwares.
                Every business requires an industry specific technology. For example Banking
                softwares, Robotics softwares and softwares to manage aviation industry.
                Similarly UniAgents develops technologies only for Academic Industry and with core specialisation on
                agent/consultant management. UniAgents CRM is a pioneering technology solution for education
                consultants/study abroad agents, this allow consultants to operate effectively, efficiently and
                professionally to experience higher conversion rate.
                Use of this technology can guarantee extra students and happier students.</p>
            <div class="spacer60"></div>
            <p><strong>1 extra student = 5 years subscription</strong></p>
            <div class="row">
                <div class="col-12 col-md-6">
                    <ul class="arrow text-left">
                        <li> <i class="fa-solid fa-angle-right mx-2"></i> Better control to the owners of the Business
                        </li>
                        <li><i class="fa-solid fa-angle-right mx-2"></i> Find out intelligent details about your
                            Business</li>
                        <li><i class="fa-solid fa-angle-right mx-2"></i>More freedom and better tools for Counsellors
                        </li>
                        <li><i class="fa-solid fa-angle-right mx-2"></i>Best Experience for Students</li>
                </div>
                <div class="col-12 col-md-6">
                    <ul class="arrow text-left">
                        <li><i class="fa-solid fa-angle-right mx-2"></i>Transparency and Trust with Institutions</li>
                        <li><i class="fa-solid fa-angle-right mx-2"></i>Run the entire System from your own Website</li>
                        <li><i class="fa-solid fa-angle-right mx-2"></i>Do not miss any chance of Better Conversion</li>
                        <li><i class="fa-solid fa-angle-right mx-2"></i>Tailor made Experience</li>
                    </ul>
                </div>
            </div>

            <div class="spacer"></div>
            <div class="row d-flex justify-content-between text-left">
                <div class="col-12 col-md-3"><a href="https://www.youtube.com/watch?v=TbKvmAi3nTQ" target="_blank">
                        <div class="highlight">
                            <img src="https://www.uniagents.com/assets/images/agent-crm.png">
                            <div class="heading">Watch Agent CRM
                                <small>Introduction Video</small>
                            </div>
                        </div>
                    </a></div>
                <div class="col-12 col-md-3 "><a href="https://www.youtube.com/watch?v=TbKvmAi3nTQ" target="_blank">
                        <div class="highlight ab">
                            <img src="https://www.uniagents.com/assets/images/download-brochure.png">
                            <div class="heading">Watch Agent CRM
                                <small>Introduction Video</small>
                            </div>
                        </div>
                    </a></div>
                <div class="col-12 col-md-3"><a href="https://www.youtube.com/watch?v=TbKvmAi3nTQ" target="_blank">
                        <div class="highlight cd">
                            <img src="https://www.uniagents.com/assets/images/agent-crm.png">
                            <div class="heading">Watch Agent CRM
                                <small>Introduction Video</small>
                            </div>
                        </div>
                    </a></div>
                <div class="col-12 col-md-3"><a href="https://www.youtube.com/watch?v=TbKvmAi3nTQ" target="_blank">
                        <div class="highlight ef">
                            <img src="https://www.uniagents.com/assets/images/agent-crm.png">
                            <div class="heading">Watch Agent CRM
                                <small>Introduction Video</small>
                            </div>
                        </div>
                    </a></div>
            </div>
            <div class="clearfix mx-4 p-2"></div>
            <div>
                <p><em>What else does it take to grow your business ? ......</em></p>
            </div>

            <!-- spacer 60 -->
            <div class="spacer"></div>
            <p><strong>Award Winning Technology</strong></p>
            <p>Operate like a multi national organisation. Track your website visitor on realtime basis, Call them while
                they are filling an enquiry, send auto SMS/ Text Messages and track the life cycle.</p>
            <p><strong>Key features include:</strong></p>
            <div class="row">
                <div class="col-12 col-md-5">
                    <ul class="arrow text-left">
                        <li><i class="fa-solid fa-angle-right mx-2"></i>Search courses and print student course
                            comparison sheet</li>
                        <li><i class="fa-solid fa-angle-right mx-2"></i>Managing the Branch offices</li>
                        <li><i class="fa-solid fa-angle-right mx-2"></i>Managing Counsellors</li>
                        <li><i class="fa-solid fa-angle-right mx-2"></i>Managing Institutions</li>
                        <li><i class="fa-solid fa-angle-right mx-2"></i>Setting up your own country specific Application
                            Process</li>
                        <li><i class="fa-solid fa-angle-right mx-2"></i>Managing Applications</li>
                        <li><i class="fa-solid fa-angle-right mx-2"></i>Track your Students History and Application
                            Status</li>
                        <li><i class="fa-solid fa-angle-right mx-2"></i>Advanced Reports</li>
                        <li><i class="fa-solid fa-angle-right mx-2"></i>Auto Follow ups for Higher conversion rate</li>

                        <div class="clearfix"></div>
                    </ul>
                </div>
                <div class="col-12 col-md-7">
                    <ul class="arrow text-left">
                        <li><i class="fa-solid fa-angle-right mx-2"></i>Lead Management</li>
                        <li><i class="fa-solid fa-angle-right mx-2"></i>Invoicing to institutions and students</li>
                        <li><i class="fa-solid fa-angle-right mx-2"></i>Easy access to all course details and marketing
                            material</li>
                        <li><i class="fa-solid fa-angle-right mx-2"></i>Send reminders to students</li>
                        <li><i class="fa-solid fa-angle-right mx-2"></i>Forward Applications</li>
                        <li><i class="fa-solid fa-angle-right mx-2"></i>Manage and monitor your office using Smart phone
                            and Tablets</li>
                        <li><i class="fa-solid fa-angle-right mx-2"></i>Allow students to track application status from
                            your website</li>
                        <li><i class="fa-solid fa-angle-right mx-2"></i>Integrate your website enquiries with the CRM
                            for better management and follow ups</li>
                        <li><i class="fa-solid fa-angle-right mx-2"></i>One Student One Application: Now you do not need
                            to fill application for same student again and
                            again.
                            Just select another country, institution, course and intake.</li>
                        <div class="clearfix"></div>
                    </ul>
                </div>
            </div>

            <div class="spacer"></div>
            <h1 class="crm-head">FREE Trial</h1>
            <p><strong>Use it to Believe it, Watch it to Understand it.</strong><br>
                We provide free trial access to the system and our comprehensive videos will explain everything you want
                to know about it.</p>

            <div class="spacer60"></div>
            <div class="spacer"></div>
            <div class="row">
                <div class="col-12 col-md-3 ">
                    <a href="https://www.uniagents.com/agent-crm-demo/agent_register.php" target="_blank">
                        <div class="crm-benefits">
                            <div class="thumb">
                                <img src="https://www.uniagents.com/assets/images/crm-benefits.jpg">
                            </div>
                            <div class="heading">
                                Click here to access your
                                <small>FREE Trial account now. Trial period – 3 days</small>
                            </div>
                        </div>
                    </a>
                </div>

                <div class="col-12 col-md-3 ">
                    <!-- 2nd card -->
                    <a href="https://www.youtube.com/watch?v=E7KG7nsWY6A&amp;feature=youtu.be" target="_blank">
                        <div class="crm-benefits">
                            <div class="thumb">
                                <img src="https://www.uniagents.com/assets/images/crm-benefits1.jpg">
                            </div>
                            <div class="heading">
                                Tutorial - Easy understanding
                                <small>of features and usage of the system Watch sample video</small>
                            </div>
                        </div>
                    </a>
                </div>

                <div class="col-12 col-md-3 ">
                    <!-- 3rd card -->
                    <a href="https://www.youtube.com/watch?v=E7KG7nsWY6A&amp;feature=youtu.be" target="_blank">
                        <div class="crm-benefits">
                            <div class="thumb">
                                <img src="https://www.uniagents.com/assets/images/crm-benefits2.jpg">
                            </div>
                            <div class="heading">
                                Tutorial - Easy understanding
                                <small>of features and usage of the system Watch sample video</small>
                            </div>
                        </div>
                    </a>
                </div>
                <!-- 3rd card end -->
                <div class="col-12 col-md-3">
                    <!-- 4th card -->
                    <div class="crm-benefits">
                        <div class="thumb">
                            <img src="https://www.uniagents.com/assets/images/crm-benefits3.jpg">
                        </div>
                        <div class="heading">Special offer
                            <small>Sign up and pay before 30th November and get free featured agent listing
                                on www.uniagents.com for FREE ( Worth 4000 USD ) generate more student and
                                institutional enquiries</small>
                        </div>
                    </div>
                </div>
            </div>



            <!-- end row of col-9 -->
        </div>

        <div class="col-12 col-md-3 mx-auto text-center">
            <div class="row ">
                <!-- <div class="row"> -->
                <div class="col-12 ">
                    <a href=""><img class="img-fluid" src="https://www.uniagents.com/assets/images/agent-crm-banner.png"></a>
                </div>
                <div class="col-12 text-center mx-auto">
                    <div class="website-sample-link">
                        <span class="link1">
                            <a href="https://play.google.com/store/apps/details?id=com.unitree&amp;hl=en"
                                target="_blank"><img src="https://www.uniagents.com/assets/images/play-store-logo.png"
                                    width="150"></a><br>
                            <a href="https://apps.apple.com/us/app/unitree-study-abroad/id1504244684"
                                target="_blank"><img src="https://www.uniagents.com/assets/images/app-store-logo.png"
                                    width="150"></a>
                        </span>
                        <img class="img img-fluid text-center mx-auto"
                            src="https://www.uniagents.com/assets/images/new standee banner-02.jpg">
                    </div>
                </div>
                <!-- </div> -->
            </div>
        </div>
    </div>
    <!-- section end here  -->
</section>
<div class="spacer60"></div>
<!-- section demo start -->
<section class="dem container-fluid bg-light">
    <div class="row mx-auto">
        <div class="col-12 col-md-6">
            <div class="skype-session-left">
                <img src="https://www.uniagents.com/assets/images/skype-session.jpg">
            </div>
        </div>
        <div class="col-12 col-md-6">
            <div class="skype-session-right">
                <div class="spacer60"></div>
                <p>Book a Demo: To book a skype demo or consultation session provide your details, so we schedule a time
                    slot for the demo and Q&amp;A session. There is a help menu in the CRM what will be useful to run
                    staff training sessions and understanding every feature of the CRM.</p>
                <a href="https://uniagents-advisor.youcanbook.me/" target="_blank" class="btn btn-primary">Book a
                    Demo</a>
            </div>
        </div>
    </div>
    <!-- section end -->
    <div class="spacer"></div>
</section>

<!-- section start subscription plans -->
<section class="container-fluid bg-light">
    <form action="payment-agent-website-details.php" method="post" onsubmit="">
        <div class="spacer60"></div>
        <h1 class="crm-head text-center">Subscription Plans:</h1>
        <div class="spacer"></div>
        <!-- subscription plan -->
        <div class="row gx-2 justify-content-center">
            <div class="col-12 col-md-2  ">
                <div class="subscription-plan">
                    <span class="badge">Top Seller</span>
                    <div class="content">
                        <div class="header">
                            <span class="title  "><i class="fa fa-calendar-check-o"></i> Duration</span>

                            <span class="months">3 Months</span>


                            <div class="spacer"></div>
                        </div>
                        <span class="title">Price (USD)</span>
                        <span class="price">
                            <span>499 <i class="fa fa-usd"></i></span>

                        </span>
                        <!-- checkbox -->
                        <div class="checkbox-contianer ">
                            <label for="crm_plan_17">
                                <input type="radio" id="crm_plan_17" name="crm_plan" class="total_amount_cal"
                                    value="499">
                                <span class="text-center mx-auto"></span>
                            </label>
                        </div>

                    </div>
                </div>
            </div>
            <!-- 2nd column -->
            <div class="col-12 col-md-2 ">
                <!-- subscription plan -->

                <div class="subscription-plan ">
                    <span class="badge">Top Seller</span>
                    <div class="content">
                        <div class="header">
                            <span class="title  "><i class="fa fa-calendar-check-o"></i> Duration</span>

                            <span class="months">6 Months</span>


                            <div class="spacer"></div>
                        </div>
                        <span class="title">Price (USD)</span>
                        <span class="price">
                            <span>899 <i class="fa fa-usd"></i></span> <!--  <i class="fa fa-usd"></i> -->
                            <!-- 		 -->
                        </span>
                        <!-- checkbox -->
                        <div class="checkbox-contianer">
                            <label for="crm_plan_16">
                                <input type="radio" id="crm_plan_16" name="crm_plan" class="total_amount_cal"
                                    value="899">
                                <span></span>
                            </label>

                        </div>
                    </div>
                </div>
            </div>

            <div class="col-12 col-md-2 ">
                <!-- subscription plan -->

                <div class="subscription-plan best-seller">
                    <span class="badge">Top Seller</span>
                    <div class="content">
                        <div class="header">
                            <span class="title  "><i class="fa fa-calendar-check-o"></i> Duration</span>

                            <span class="months">1 Year</span>


                            <div class="spacer"></div>
                        </div>
                        <span class="title">Price (USD)</span>
                        <span class="price">
                            1199 <i class="fa fa-usd"></i></span> <!--  <i class="fa fa-usd"></i> -->
                        <!-- 		 -->

                        <!-- checkbox -->
                        <div class="checkbox-contianer">
                            <label for="crm_plan_1">
                                <input type="radio" id="crm_plan_1" name="crm_plan" class="total_amount_cal"
                                    value="1199">
                                <span></span>
                            </label>
                        </div>

                    </div>
                </div>
            </div>
            <div class="col-12 col-md-2 ">
                <!-- subscription plan -->
                <div class="subscription-plan ">
                    <span class="badge">Top Seller</span>
                    <div class="content">
                        <div class="header">
                            <span class="title  "><i class="fa fa-calendar-check-o"></i> Duration</span>

                            <span class="months">3 Year</span>


                            <div class="spacer"></div>
                        </div>
                        <span class="title">Price (USD)</span>
                        <span class="price">
                            <span>2299 <i class="fa fa-usd"></i></span> <!--  <i class="fa fa-usd"></i> -->
                            <!-- 		 -->
                        </span>
                        <!-- checkbox -->
                        <div class="checkbox-contianer">
                            <label for="crm_plan_2">
                                <input type="radio" id="crm_plan_2" name="crm_plan" class="total_amount_cal"
                                    value="2299">
                                <span></span>
                            </label>
                        </div>

                    </div>
                </div>
            </div>
            <div class="col-12 col-md-2 ">
                <!-- subscription plan -->
                <div class="subscription-plan best-seller">
                    <span class="badge">Top Seller</span>
                    <div class="content">
                        <div class="header">
                            <span class="title  "><i class="fa fa-calendar-check-o"></i> Duration</span>

                            <span class="months">5 Year</span>


                            <div class="spacer"></div>
                        </div>
                        <span class="title">Price (USD)</span>
                        <span class="price">
                            <span>3399 <i class="fa fa-usd"></i></span>
                            <!-- 		 -->
                        </span>
                        <!-- checkbox -->
                        <div class="checkbox-contianer">
                            <label for="crm_plan_3">
                                <input type="radio" id="crm_plan_3" name="crm_plan" class="total_amount_cal"
                                    value="3399">
                                <span></span>
                            </label>
                        </div>

                    </div>
                </div>
            </div>
            <!-- row end here -->
        </div>

        <div class="clearfix"></div>
        <!-- section cards subscription ended -->
        <div class="spacer60"></div>

        <!-- extra addon -->
        <div class="container-fluid">
            <div class="crm-head text-center">
                ADD-ONS: <br><small>Get Your Own Website Developed By Experts From UniAgents.</small>
            </div>
        </div>
        <div class="container-fluid border">
            <!-- 1st row  -->
            <div class="particular row align-items-center d-flex form-inline  border">
                <div class="col-12 col-md-4 text-center">
                    <div class="main-text-title">
                        Your own Agent Mobile Application for Students (Android)
                        <small>7-10 Days Delivery</small>
                        <img src="https://www.uniagents.com/assets/images/play-store.png" class="play-store table-icon">
                    </div>
                    <!-- 1st col end -->
                </div>
                <div class="col-12 col-md-4 text-center ">
                    <div class="main-text-price">4000 <i class="fa fa-usd"></i></div>
                    <!-- 2nd col end  -->
                </div>
                <div class="col-12 col-md-4 text-center">
                    <div class="main-text-button">
                        <div class="checkbox-contianer">
                            <label for="mobile_app_android">
                                <input type="radio" id="mobile_app_android" name="mobile_app_android" value="4000"
                                    class="total_amount_cal">
                                <span></span>
                            </label>
                        </div>
                    </div>
                    <!-- 3rd col end -->
                </div>
                <!-- 1st row end  -->
            </div>
             <!-- 2nd row  -->
            <div class="particular row align-items-center d-flex form-inline  border">
                <div class="col-12 col-md-4 text-center">
                    <div class="main-text-title">
                        Your own Agent Mobile Application for Students (Android &amp; iOS)
                        <small>7-10 Days Delivery</small>
                        <img src="https://www.uniagents.com/assets/images/play-store.png" class="play-store table-icon">
                        <img src="https://www.uniagents.com/assets/images/app-store.png" class="app-store table-icon"
                            style="left: 170px;">
                    </div>
                    <!-- 1st col end -->
                </div>
                <div class="col-12 col-md-4 text-center ">
                    <div class="main-text-price"> 8000 <i class="fa fa-usd"></i> </div>
                    <!-- 2nd col end  -->
                </div>
                <div class="col-12 col-md-4 text-center">
                    <div class="main-text-button">
                        <div class="checkbox-contianer">
                            <label for="mobile_app_android">
                                <input type="radio" id="mobile_app_android" name="mobile_app_android" value="4000"
                                    class="total_amount_cal">
                                <span></span>
                            </label>
                        </div>
                    </div>
                    <!-- 3rd col end  -->
                </div>
                <!-- 2nd row end -->
            </div>
            <!-- 3rd row  -->
            <div class="particular row align-items-center d-flex form-inline  border">
                <div class="col-12 col-md-4 text-center">
                    <div class="main-text-title">
                        Website Development
                        <small>30 Days Delivery</small>
                    </div>
                    <!-- 1st col end -->
                </div>
                <div class="col-12 col-md-4 text-center ">
                    <div class="main-text-price">1499 <i class="fa fa-usd"></i></div>
                    <!-- 2nd col end  -->
                </div>
                <div class="col-12 col-md-4 text-center">
                    <div class="main-text-button">
                        <div class="checkbox-contianer">
                            <label for="mobile_app_android">
                                <input type="radio" id="mobile_app_android" name="mobile_app_android" value="4000"
                                    class="total_amount_cal">
                                <span></span>
                            </label>
                        </div>
                    </div>
                    <!-- 3rd col end  -->
                </div>
                <!-- 2nd row end -->
            </div>
            <!-- 4th row  -->
            <div class="particular row align-items-center d-flex form-inline  border">
                <div class="col-12 col-md-4 text-center">
                    <div class="main-text-title">
                        Your own Agent Mobile Application for Students (Android)
                        <small>7-10 Days Delivery</small>
                        <img src="https://www.uniagents.com/assets/images/play-store.png" class="play-store table-icon">
                    </div>
                    <!-- 1st col end -->
                </div>
                <div class="col-12 col-md-4 text-center ">
                    <div class="main-text-price">4000 <i class="fa fa-usd"></i></div>
                    <!-- 2nd col end  -->
                </div>
                <div class="col-12 col-md-4 text-center">
                    <div class="main-text-button">
                        <div class="checkbox-contianer">
                            <label for="mobile_app_android">
                                <input type="radio" id="mobile_app_android" name="mobile_app_android" value="4000"
                                    class="total_amount_cal">
                                <span></span>
                            </label>
                        </div>
                    </div>
                    <!-- 3rd col end -->
                </div>
                <!-- 1st row end  -->
            </div>
             <!-- 5th row  -->
            <div class="particular row align-items-center d-flex form-inline  border">
                <div class="col-12 col-md-4 text-center">
                    <div class="main-text-title">
                        Your own Agent Mobile Application for Students (Android &amp; iOS)
                        <small>7-10 Days Delivery</small>
                        <img src="https://www.uniagents.com/assets/images/play-store.png" class="play-store table-icon">
                        <img src="https://www.uniagents.com/assets/images/app-store.png" class="app-store table-icon"
                            style="left: 170px;">
                    </div>
                    <!-- 1st col end -->
                </div>
                <div class="col-12 col-md-4 text-center ">
                    <div class="main-text-price"> 8000 <i class="fa fa-usd"></i> </div>
                    <!-- 2nd col end  -->
                </div>
                <div class="col-12 col-md-4 text-center">
                    <div class="main-text-button">
                        <div class="checkbox-contianer">
                            <label for="mobile_app_android">
                                <input type="radio" id="mobile_app_android" name="mobile_app_android" value="4000"
                                    class="total_amount_cal">
                                <span></span>
                            </label>
                        </div>
                    </div>
                    <!-- 3rd col end  -->
                </div>
                <!-- 2nd row end -->
            </div>
            <!-- 6th row  -->
            <div class="particular row align-items-center d-flex form-inline  border">
                <div class="col-12 col-md-4 text-center">
                    <div class="main-text-title">
                        Website Development
                        <small>30 Days Delivery</small>
                    </div>
                    <!-- 1st col end -->
                </div>
                <div class="col-12 col-md-4 text-center ">
                    <div class="main-text-price">1499 <i class="fa fa-usd"></i></div>
                    <!-- 2nd col end  -->
                </div>
                <div class="col-12 col-md-4 text-center">
                    <div class="main-text-button">
                        <div class="checkbox-contianer">
                            <label for="mobile_app_android">
                                <input type="radio" id="mobile_app_android" name="mobile_app_android" value="4000"
                                    class="total_amount_cal">
                                <span></span>
                            </label>
                        </div>
                    </div>
                    <!-- 3rd col end  -->
                </div>
                <!-- 2nd row end -->
            </div>


            <div class="clearfix"></div>


        </div>
        <div class="spacer60"></div>
        <div class="total-amount text-center crm-head align-center">
            Total : <span id="tot">0 USD</span>
            <div class="spacer"></div>
            <button type="submit" class="payment btn btn-primary"><i class="fa-brands fa-paypal"></i> Pay Now</button>
            <div class="spacer"></div>
        </div>
        <div class="spacer"></div>

    </form>
<!-- end section cardbook -->
</section>
<!-- setion start -->
<section class="crm_lite container-fluid mx-auto  py-3">
    <div class="spacer"></div>
<div class="row  m-2  ">
    <div class="col-12 col-md-6 text-center"><div class="crm-lite-left">
        <img class="img-fluid" src="https://www.uniagents.com/assets/images/crm-lite.jpg">
    </div></div>
    <div class="col-12 col-md-6"><div class="crm-lite-right  flex-nowrap ">
        <p><strong>CRM Lite</strong> for Agencies who already have their own CRM or other software. <strong>CRM lite</strong> will manage the applications which you will be processing through UNICA and provide special counsellor tools to search perfect matched courses, compare courses and countries for their benefits.  Apply using the single application form for all countries and universities.</p>
        <p>The onetime membership fee for this access is <strong>500 USD</strong> which also includes Free invitations to UniAgents events and training sessions.</p>
        <p><a href="https://www.uniagents.com/unica-institutions/" target="_blank" class="btn btn-primary unilist">List of Universities</a> &nbsp; under University Common Application </p>
    </div></div>
</div>
<div class="spacer"></div>
<!-- sectio crm_light end here -->
</section>

<!-- section subscription details started -->
<section class="container-fluid">
    <div class="spacer"></div>
    <div class="row">
        <div class="col-12 col-md-6"><div class="contact-left mx-auto">
            <p>
            <strong style="color:#F60;">What is included in your subscription? </strong>
            <br><br><strong> Your subscription includes the following:</strong>
            </p><ul class="square" style="line-height:25px;">
            <li style="list-style:none;">1.	Fully managed CRM with up to date optimization </li>
            <li style="list-style:none;">2.	Free standard customization for better user experience </li>
            <li style="list-style:none;">3.	2 GB Cloud storage space and 200 GB annual Bandwidth. For extra space pay as low as 5USD/month. per 1GB and upgrade from your activated account. <a href="agent_crm_consting.php" rev="iframe|500|250" rel="[facebox]">View pricing </a> <!-- (Open the pricing in the light box) --> </li>
            <li style="list-style:none;">4.	Unlimited Branch office accounts </li>
            <li style="list-style:none;">5.	Unlimited Counselor accounts  </li>
            <li style="list-style:none;">6.	Unlimited applications  </li>
            <li style="list-style:none;">7.	24x7 ticketing system for support  </li>
            <li style="list-style:none;" id="RequestaDemo">8.	One time online training  (For offline training, where one of our executive will visit your office and provide the training to all your staff, please ask for a quotation)   </li>
            <li style="list-style:none;">9.	IT support and guidance for integrating the CRM with your website.  </li>
                </ul>
            <p></p>
            <p>Watch the Video to learn more about the key features and  system demo and leave your enquiry for any queries. </p>
            <div class="spacer"></div>
            
            <div class="clearfix"></div>
            
        
            <iframe width="100%" height="350" src="https://www.youtube.com/embed/TbKvmAi3nTQ" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen=""></iframe>
            
            </div></div>
        <div class="col-12 col-md-6"><div class="contact-right">
            <div class="website-sample-link">
                <span class="link1">
                    <a href="https://play.google.com/store/apps/details?id=com.unitree&amp;hl=en" target="_blank"><img src="https://www.uniagents.com/assets/images/play-store.png" width="150"></a>
                    <a href="https://apps.apple.com/us/app/unitree-study-abroad/id1504244684" target="_blank"><img src="https://www.uniagents.com/assets/images/app-store-logo.png" width="150"></a>
                </span>
                <img src="https://www.uniagents.com/assets/images/customized-app.png" class="img" style="margin-top:30px;border-radius:20px 20px 0 0;display:block;max-width:100%;">
            </div>
            <div class="website-sample-link" style="border-radius:0 0 20px 20px;">
            <a href="https://saigedu.com/" target="_blank">
            <span class="link">View Sample</span>
            <img src="https://www.uniagents.com/assets/images/customized-website.png" class="img" style="border-radius:0 0 20px 20px;display:block;max-width:100%;">
            </a>
            </div>
            <div class="spacer"></div>
            <div class="spacer"></div>
           
            </div></div>
    </div>
    <div class="spacer"></div>
    <div  class="text-center mx-auto">
        <span class="fields">
            <a href="https://uniagents-advisor.youcanbook.me/" target="_blank" style="font-size:18px; display: inline-block;" class=" btn btn-primary">Schedule a Demo</a>
            <span style="font-size:10px; display: block;"> We take your privacy very seriously and do not share your information with others. </span>
        </span>
    </div>
</section>

{% endblock main %}