{% extends 'base.html' %} {% block main %}
{% load static %}
{% block css %}
<link rel="stylesheet" type="text/css" href="{% static 'css/home.css' %}">
{% endblock css %}
<!-- 1st container video and search filter forum -->
<section>
    <div class="container-fluid con1">
        <!-- <img src="https://www.uniagents.com/assets/video/home-page-banner.gif" class="animated-img" /> -->

        <div class="video-container1">
            <!-- video  -->
            <video width="100%" loop="" autoplay="" muted="" __idm_id__="974849">
                <source src="https://www.uniagents.com/assets/video/home-page-banner.mp4" type="video/mp4" />
                <source src="https://www.uniagents.com/assets/video/home-page-banner.webm" type="video/ogg" />
                Video not playing? <a href="index-banner.mp4">Download file</a> instead.
            </video>
        </div>
    </div>
    </div>
    <!-- video secton end  -->
    <div class="spacer"></div>
</section>


<!-- benifits card  section start from here -->
<section class=" container-fluid fixed">
    <!-- heading -->
    <h3 class="text-center mx-auto text-muted p-4">Learn How You Can Benefit from UniAgents As</h3>
    <div class="spacer"></div>
    <div class="row mx-auto text-center">
        <!-- col-3 colums 1 -->
        <div class="col-12 col-md-6 col-lg-3 mx-auto ">
            <a href="#"class="text-muted text-decoration-none">
                <!-- card img -->
                <img class="card-img-top img img-fluid scale-up-center"
                    src="https://www.uniagents.com/assets/images/Consultants.jpg" alt="Card image cap">
                <div class="card-body benifits-title ">Consultants</div>
            </a>

        </div>
        <!-- 2nd colums of 3 -->
        <div class="col-12 col-md-6 col-lg-3">
            <a href="#"class="text-muted text-decoration-none">
                <!-- card img -->
                <img class="card-img-top img img-fluid" src="https://www.uniagents.com/assets/images/school.jpg"
                    alt="Card image cap">
                <div class="card-body benifits-title"> Institution </div>
            </a>
        </div>
        <!-- 3rd colums of card 3 -->
        <div class="col-12 col-md-6 col-lg-3">
            <a href="#"class="text-muted text-decoration-none">
                <!-- img -->
                <img class="card-img-top img img-fluid" src="https://www.uniagents.com/assets/svg/students.svg"
                    alt="Card image cap">
                <div class="card-body benifits-title"> Students </div>
            </a>
        </div>
        <!-- 4th colums of 3  -->
        <div class="col-12 col-md-6 col-lg-3">
            <a href="#" class="text-muted text-decoration-none">
                <!-- img  -->
                <img class="card-img-top img img-fluid" src="https://www.uniagents.com/assets/svg/school-building.svg"
                    alt="Card image cap">
                <div class="card-body benifits-title"> High School </div>
            </a>
        </div>
    </div>
    <div class="spacer60"></div>
</section>

<!-- section end here of card -->



<!-- animation container started -->
<section class="container-fluid main-container fixed">
    <div
        class="animation-container align-content-center align-items-center align-self-center col-sm d-flex justify-content-center">
        <div class="center">
            <!-- center image -->
            <img src="https://www.uniagents.com/assets/images/uniagents.jpg" alt="" class="img-fluid">
        </div>
        <!-- container top text  clock-wise top-right-bottom-left etc-->
        <div class="top">
            <!-- first top -->
            <span class="first">
                <a class="animation-text-a" href="https://www.uniagents.com/india-event/india-event-2020.php"
                    target="_blank"><i class="fa fa-group"></i>
                    <!-- img icon  -->
                    <img src="images/icons/marketing.png ">
                    <strong>Asia Tour</strong>Largest International Higher Education Summit And Largest Student fair
                    driven by smart technologies.</a></span>
        </div>
        <!-- top-right  angle -->
        <div class="top-right">
            <span class="second"><a class="animation-text-a" href="https://www.campusindia.in/" target="_blank"><i
                        class="fa fa-podcast"></i>
                    <!-- img icon  -->
                    <img src="images/icons/student-network.png">
                    <strong>Campus India</strong>
                    A Social initiative by the leadership of Uniagents. An attempt to make k-12 education more
                    meaningful.</a></span>
        </div>
        <!-- right text -->
        <div class="right">
            <span class="third"><a class="animation-text-a" href="https://www.uniagents.com/africa-2019-event/"
                    target="_blank"><img src="svg/european-summit.svg"><strong>Africa Tour</strong>Exclusive platform
                    for International Higher Educators to meet African counterparts &amp; join multi-country student
                    fairs.</a></span>
        </div>
        <!-- bottom right -->
        <div class="bottom-right">
            <span class="fourth"><a class="animation-text-a" href="https://www.unica.co.in/" target="_blank"><i
                        class="fa fa-globe"></i><strong>UNICA</strong>This is the FUTURE of Student Recruitments Project
                    2020.</a></span>
        </div>
        <!-- bottom text -->
        <div class="bottom">
            <span class="fifth"><a class="animation-text-a" href="https://www.uniagents.com/subscription-plan-new.php"
                    target="_blank"><i class="fa fa-th-large"></i><strong>B2B - Promotional Campaign</strong>Your voice
                    to student mobility stakeholders. Expand your network for quick Results.</a></span>
        </div>
        <!-- bottom left  -->
        <div class="bottom-left">
            <span class="six"><a class="animation-text-a" href="https://www.uniagents.com/uniagents-certification.php"
                    target="_blank"><i class="fa fa-star-o"></i><strong>Agent Certification</strong>We achieve the
                    highest standards for vetting Education Agents. Look for our quality sign before you shortlist
                    agents.</a></span>
        </div>
        <!-- left text -->
        <div class="left">
            <span class="seven"><a class="animation-text-a" href="https://www.uniagentscrm.com/" target="_blank"><i
                        class="fa fa-laptop"></i><strong>Agent CRM</strong>The BEST technology tool to run an Education
                    Agency business It will remain the BEST is our Guarantee.</a></span>
        </div>
        <!-- top left -->
        <div class="top-left">
            <span class="eight"><a class="animation-text-a" href="https://www.uniagents.com/news/" target="_blank"><i
                        class="fa fa-newspaper-o"></i><strong>Latest News</strong>Stay up to date with Education news
                    Largest aggregator of news from over 100 top sources.</a></span>
        </div>
    </div>
    <div class="spacer"></div>
    <!-- animation section ended -->
</section>
<!-- services section start -->

<section class="services container-fluid  fixed bg-light ">
    <div class="spacer60"></div>
    <div class="row py-4">
        <div class="col-12 d-flex flex-column">
            <div class="mx-auto">
                <!-- heading -->
                <h3 class="heading mx-auto text-uppercasen text-center">UNIAGENTS SYSTEM DEMO</h3>
            </div>
            <div class="spacer"></div>
            <!-- services text -->
            <div class=" mx-auto text-center text-muted">
                <p>UniAgents is a leading technology outfit, which helps
                    Institutions, Consultants and High Schools and Government agencies in utilising
                    technology to meet their international student mobility goals.
                    To understand how your organisation can benefit from our services,
                    you must book a consultation session with one of our advisors.
                    The advisor will look into your requirements and based on that you
                    will receive a set of recommendations that will help you in making a wise
                    decision over choosing a subscription plan. In case we are not able to provide
                    a service as per your requirements we will be pleased to direct you towards any
                    independent third party services in our knowledge (not associated to us in any manner)
                    . We aim to build the relationship with our partners.
                    The consultation session includes the full demonstration
                    of the technology system using digital screen sharing method. Most of
                    our technologies come with a FREE trial with certain limitations.<br><br>
                    Watch this video to get an insight into the portfolio of Uniagents Technologies for different
                    stakeholders and book your consultation session today by filling the request for free demo enquiry
                    form.</p>
            </div>
            <!-- services image -->
            <div class="col-12 text-center mx-auto"><img class="img-fluid  service-img"
                    src="https://www.uniagents.com/assets/images/echo-system.png" alt=""></div>
        </div>
    </div>
    <!-- section services end -->
    <div class="spacer"></div>
</section>
<!-- featured section start -->
<section class="featured container-fluid fixed">
    <!-- heading -->
    <div class="spacer60"></div>
    <div class="heading">
        <h3 class="heading p-3 text-muted">Featured High School</h3>
    </div>
    <!-- col-md- 2 column school list -->
    <div class="featurd-card row my-4">
        <!-- 1 col div class="featurd-" -->
        <div class="col-12 col-md-2 ">
            <div class="mx-auto text-center">
                <img class="img-fluid featured-img"
                    src="https://www.uniagents.com/assets/images/high-school-logo/candor-international-school.jpg"
                    alt="Card image cap">
                <div class=" my-2"> <a href="#" class="text-muted"> Candor International High School</a> </div>
            </div>
        </div>
        <!-- 2nd column -->
        <div class="col-12 col-md-2 mx-auto">
            <div class="mx-auto text-center">
                <img class="img-fluid featured-img"
                    src="https://www.uniagents.com/assets/images/high-school-logo/st-josephs-academy.jpg"
                    alt="Card image cap">
                <div class=" my-2"> <a href="#" class="text-muted "> Sir Joseph Academy</a> </div>
            </div>
        </div>
        <!-- 3rd column -->
        <div class="col-12 col-md-2">
            <div class="mx-auto text-center">
                <img class="img-fluid featured-img"
                    src="https://www.uniagents.com/assets/images/high-school-logo/choithram-school-north-campus.jpg"
                    alt="Card image cap">
                <div class=" my-2"> <a href="#" class="text-muted"> Choithram School North Campus</a> </div>
            </div>
        </div>
        <!--  col4thumn -->
        <div class="col-12 col-md-2">
            <div class="mx-auto text-center">
                <img class="img-fluid featured-img"
                    src="https://www.schoolskey.com/uploads/thumb/69_britishfortfmpjlogo12.jpg" alt="Card image cap">
                <div class=" my-2"> <a href="#" class="text-muted"> british fort foundation</a> </div>
            </div>
        </div>
        <!-- 5th column -->
        <div class="col-12 col-md-2">
            <div class="mx-auto text-center">
                <img class="img-fluid featured-img"
                    src="https://www.uniagents.com/assets/images/high-school-logo/modern-knowledge-schools.jpg"
                    alt="Card image cap">
                <div class=" my-2"> <a href="#" class="text-muted">Modern Knowledje school</a></div>
            </div>
        </div>
        <!-- 6th column -->
        <div class="col-12 col-md-2">
            <div class="mx-auto text-center">
                <img class="img-fluid featured-img"
                    src="https://www.uniagents.com/assets/images/high-school-logo/new-international-school.jpg"
                    alt="Card image cap">
                <div class=" my-2"> <a href="#" class="text-muted">New International School Japan</a> </div>
            </div>
        </div>
    </div>
    <div class="spacer"></div>
    <div class="mx-auto text-center p-3"><button class="btu ">View All</button> </div>
    <div class="spacer"></div>
    <!-- end section featured  -->
</section>

<!-- blog section start  -->
<section class="blog-section container-fluid">

    <div class="row">
        <!-- cards blog of col-lg-9  -->
        <div class="col-12 col-md-12 col-lg-9">
            <!-- 9th colums new row of col-md-3 -->
            <div class="row pt-2 ">
                <!-- 1st column -->
                <div class="col-12 col-sm-4 pt-3 card-row">
                    <div class="card ">
                        <img class="card-img-top img-fluid blog-img"
                            src="https://www.uniagents.com/ga-institution/logo/institute_2561_logo1645408118.jpeg"
                            alt="Card image cap">
                        <div class="card-body">
                            <h4 class="card-title"><a href="#"><span class="title">Albright Institute of Business and
                                        Language</span></a></h4>
                            <a href="#"><i>Australia</i></a>
                            <p class="card-text">


                                Established in 2017,&nbsp;Albright Institute of Business and Language and Albright
                                Institute
                                of English is&nbsp;a Registered Training Organisation (RTO) approved by the Australian
                                Skills Quality Authority (ASQA).&nbsp;

                                We are certified by NAAT...
                            </p>
                            <a href="#!" class="btn btn-primary">cources</a>
                        </div>
                    </div>
                </div>
                <!-- 2nd column -->
                <div class="col-12 col-sm-4 pt-3 card-row">
                    <div class="card">
                        <img class="card-img-top img-fluid blog-img"
                            src="https://www.uniagents.com/ga-institution/logo/institute_124_logo1521459695.jpg"
                            alt="Card image cap">
                        <div class="card-body">
                            <h4 class="card-title"><a href="#"><span class="title">RIT Kosovo (A.U.K)</span></a></h4>
                            <a href="#"><i>Kosovo</i></a>
                            <p class="card-text">
                                RIT-Kosovo (A.U.K.) was founded through a partnership
                                with Rochester Institute of Technology and the American
                                University in Kosovo Foundation in 2003.&nbsp;
                                The university serves over 500 students in Prishtina,
                                Kosovo,s capital city.&nbsp; RIT-...
                            </p>
                            <a href="#!" class="btn btn-primary">cources</a>
                        </div>
                    </div>
                </div>
                <!-- 3rd column -->
                <div class="col-12 col-sm-4 pt-3 card-row">
                    <div class="card">
                        <img class="card-img-top img-fluid blog-img"
                            src="https://www.uniagents.com/ga-institution/logo/institute_235_logo1524727248.jpg"
                            alt="Card image cap">
                        <div class="card-body">
                            <h4 class="card-title"><a href="#"><span class="title">Albright Institute of Business and
                                        Language</span></a></h4>
                            <a href="#"><i>Australia</i></a>
                            <p class="card-text">


                                Established in 2017,&nbsp;Albright Institute of Business and Language and Albright
                                Institute
                                of English is&nbsp;a Registered Training Organisation (RTO) approved by the Australian
                                Skills Quality Authority (ASQA).&nbsp;

                                We are certified by NAAT...
                            </p>
                            <a href="#!" class="btn btn-primary">cources</a>
                        </div>
                    </div>
                </div>
                <!-- 4th column -->
                <div class="col-12 col-sm-4 pt-3 card-row">
                    <div class="card">
                        <img class="card-img-top img-fluid blog-img"
                            src="https://www.uniagents.com/ga-institution/logo/institute_2561_logo1645408118.jpeg"
                            alt="Card image cap">
                        <div class="card-body">
                            <h4 class="card-title"><a href="#"><span class="title">Albright Institute of Business and
                                        Language</span></a></h4>
                            <a href="#"><i>Australia</i></a>
                            <p class="card-text">


                                Established in 2017,&nbsp;Albright Institute of Business and Language and Albright
                                Institute
                                of English is&nbsp;a Registered Training Organisation (RTO) approved by the Australian
                                Skills Quality Authority (ASQA).&nbsp;

                                We are certified by NAAT...
                            </p>
                            <a href="#!" class="btn btn-primary">cources</a>
                        </div>
                    </div>
                </div>
                <!-- 5th column -->
                <div class="col-12 col-sm-4 pt-3 card-row">
                    <div class="card">
                        <img class="card-img-top img-fluid blog-img"
                            src="https://www.uniagents.com/ga-institution/logo/institute_2561_logo1645408118.jpeg"
                            alt="Card image cap">
                        <div class="card-body">
                            <h4 class="card-title"><a href="#"><span class="title">Albright Institute of Business and
                                        Language</span></a></h4>
                            <a href="#"><i>Australia</i></a>
                            <p class="card-text">


                                Established in 2017,&nbsp;Albright Institute of Business and Language and Albright
                                Institute
                                of English is&nbsp;a Registered Training Organisation (RTO) approved by the Australian
                                Skills Quality Authority (ASQA).&nbsp;

                                We are certified by NAAT...
                            </p>
                            <a href="#!" class="btn btn-primary">cources</a>
                        </div>
                    </div>
                </div>
                <!-- 6th column -->
                <div class="col-12 col-sm-4 pt-3 card-row mx-auto">
                    <div class="card text-center">
                        <img class="card-img-top img-fluid blog-img mx-auto "
                            src="https://www.uniagents.com/ga-institution/logo/institute_2561_logo1645408118.jpeg"
                            alt="Card image cap">
                        <div class="card-body">
                            <h4 class="card-title"><a href="#"><span class="title">Albright Institute of Business and
                                        Language</span></a></h4>
                            <a href="#"><i>Australia</i></a>
                            <p class="card-text">


                                Established in 2017,&nbsp;Albright Institute of Business and Language and Albright
                                Institute
                                of English is&nbsp;a Registered Training Organisation (RTO) approved by the Australian
                                Skills Quality Authority (ASQA).&nbsp;

                                We are certified by NAAT...
                            </p>
                            <a href="#!" class="btn btn-primary">cources</a>
                        </div>
                    </div>
                </div>
            </div>
            <!-- 2nd row end  -->
            <div class=" mx-auto text-center p-3"><a class="" href="#"><button class="btu ">View All</button> </a></div>
        </div>
        <!-- end of col-9 row 1 -->
    <!-- </div> -->
    <!-- ------------------------------------ -->
    <!-- col-3 ads column right of col-12 of first row -->
    <div class="col-12 col-lg-3 pt-3 d-none d-lg-block ">
        <!-- 1st add card -->
        <div class="card p-2 m-2 ">
            <img class="card-img-top img-fluid"
                src="https://www.uniagents.com/assets/images/ads/small/university-living.jpg" alt="Card image cap">
        </div>
        <!-- 2nd add card -->
        <div class="card p-2 m-2">
            <img class="card-img-top img-fluid" src="https://www.uniagents.com/assets/images/ads/small/stephenbs.jpg"
                alt="Card image cap">
        </div>
        <!-- 3rd add card -->
        <div class="card p-2 m-2">
            <img class="card-img-top img-fluid" src="https://www.uniagents.com/assets/images/ads/small/Mesoy.jpg"
                alt="Card image cap">
        </div>
        <!-- 4th add card -->
        <div class="card p-2 m-2">
            <img class="card-img-top img-fluid"
                src="https://www.uniagents.com/assets/images/ads/small/ksim_banner_square.jpg" alt="Card image cap">
        </div>

    </div>
    </div>
</section>
<!-- end row of featured cards -->
<!-- all the content of this section same as above section -->
<section class="consultents-section container-fluid fixed">
    <!-- head heading -->
    <div class="heading">
        <h3 class="heading p-3 text-muted text-left">Featured Consultants</h3>
    </div>
    <div class="row">
        <!-- cards blog of col-lg-9  -->
        <div class="col-12 col-md-12 col-lg-9 mx-auto">
            <div class="row pt-2">
                <!-- 1 col div class="featurd-" -->
                <div class="col-12 col-sm-4 pt-3 card-row mx-auto ">
                    <div class="card ">
                        <img class="card-img-top img-fluid blog-img"
                            src="https://www.uniagents.com/ga-institution/logo/institute_2561_logo1645408118.jpeg"
                            alt="Card image cap">
                        <div class="card-body">
                            <h4 class="card-title"><a href="#"><span class="title">Albright Institute of Business and
                                        Language</span></a></h4>
                            <a href="#"><i>Australia</i></a>
                            <p class="card-text">


                                Established in 2017,&nbsp;Albright Institute of Business and Language and Albright
                                Institute
                                of English is&nbsp;a Registered Training Organisation (RTO) approved by the Australian
                                Skills Quality Authority (ASQA).&nbsp;

                                We are certified by NAAT...
                            </p>
                            <a href="#!" class="btn btn-primary">cources</a>
                        </div>
                    </div>
                </div>
                <!-- 2nd column -->
                <div class="col-12 col-sm-4 pt-3">
                    <div class="card">
                        <img class="card-img-top img-fluid blog-img"
                            src="https://www.uniagents.com/ga-institution/logo/institute_2561_logo1645408118.jpeg"
                            alt="Card image cap">
                        <div class="card-body">
                            <h4 class="card-title"><a href="#"><span class="title">Albright Institute of Business and
                                        Language</span></a></h4>
                            <a href="#"><i>Australia</i></a>
                            <p class="card-text">


                                Established in 2017,&nbsp;Albright Institute of Business and Language and Albright
                                Institute
                                of English is&nbsp;a Registered Training Organisation (RTO) approved by the Australian
                                Skills Quality Authority (ASQA).&nbsp;

                                We are certified by NAAT...
                            </p>
                            <a href="#!" class="btn btn-primary">cources</a>
                        </div>
                    </div>
                </div>
                <!-- 3rd column -->
                <div class="col-12 col-sm-4 pt-3">
                    <div class="card">
                        <img class="card-img-top img-fluid blog-img"
                            src="https://www.uniagents.com/ga-institution/logo/institute_2561_logo1645408118.jpeg"
                            alt="Card image cap">
                        <div class="card-body">
                            <h4 class="card-title"><a href="#"><span class="title">Albright Institute of Business and
                                        Language</span></a></h4>
                            <a href="#"><i>Australia</i></a>
                            <p class="card-text">


                                Established in 2017,&nbsp;Albright Institute of Business and Language and Albright
                                Institute
                                of English is&nbsp;a Registered Training Organisation (RTO) approved by the Australian
                                Skills Quality Authority (ASQA).&nbsp;

                                We are certified by NAAT...
                            </p>
                            <a href="#!" class="btn btn-primary">cources</a>
                        </div>
                    </div>
                </div>
                <!-- 4th column -->
                <div class="col-12 col-sm-4 pt-3">
                    <div class="card">
                        <img class="card-img-top img-fluid blog-img"
                            src="https://www.uniagents.com/ga-institution/logo/institute_2561_logo1645408118.jpeg"
                            alt="Card image cap">
                        <div class="card-body">
                            <h4 class="card-title"><a href="#"><span class="title">Albright Institute of Business and
                                        Language</span></a></h4>
                            <a href="#"><i>Australia</i></a>
                            <p class="card-text">


                                Established in 2017,&nbsp;Albright Institute of Business and Language and Albright
                                Institute
                                of English is&nbsp;a Registered Training Organisation (RTO) approved by the Australian
                                Skills Quality Authority (ASQA).&nbsp;

                                We are certified by NAAT...
                            </p>
                            <a href="#!" class="btn btn-primary">cources</a>
                        </div>
                    </div>
                </div>
                <!-- 4th column -->
                <div class="col-12 col-sm-4 pt-3">
                    <div class="card">
                        <img class="card-img-top img-fluid blog-img"
                            src="https://www.uniagents.com/ga-institution/logo/institute_2561_logo1645408118.jpeg"
                            alt="Card image cap">
                        <div class="card-body">
                            <h4 class="card-title"><a href="#"><span class="title">Albright Institute of Business and
                                        Language</span></a></h4>
                            <a href="#"><i>Australia</i></a>
                            <p class="card-text">


                                Established in 2017,&nbsp;Albright Institute of Business and Language and Albright
                                Institute
                                of English is&nbsp;a Registered Training Organisation (RTO) approved by the Australian
                                Skills Quality Authority (ASQA).&nbsp;

                                We are certified by NAAT...
                            </p>
                            <a href="#!" class="btn btn-primary">cources</a>
                        </div>
                    </div>
                </div>
                <!-- 5th column -->
                <div class="col-12 col-sm-4 pt-3">
                    <div class="card">
                        <img class="card-img-top img-fluid blog-img"
                            src="https://www.uniagents.com/ga-institution/logo/institute_2561_logo1645408118.jpeg"
                            alt="Card image cap">
                        <div class="card-body">
                            <h4 class="card-title"><a href="#"><span class="title">Albright Institute of Business and
                                        Language</span></a></h4>
                            <a href="#"><i>Australia</i></a>
                            <p class="card-text">


                                Established in 2017,&nbsp;Albright Institute of Business and Language and Albright
                                Institute
                                of English is&nbsp;a Registered Training Organisation (RTO) approved by the Australian
                                Skills Quality Authority (ASQA).&nbsp;

                                We are certified by NAAT...
                            </p>
                            <a href="#!" class="btn btn-primary">cources</a>
                        </div>
                    </div>
                </div>
                <div class="spacer"></div>
                <!-- 2nd row end  -->
                <div class="spacer"></div>
                <div class=" mx-auto text-center p-3"><a class="" href="#"><button class="btu ">view All</button> </a>
                </div>
                <div class="spacer"></div>
                <div class="spacer"></div>
            </div>

            <!-------------------------------------------------------------->
        </div>
        <!-- end of col-9 row -->
        <!-- col-3 ads column right of col-12 of 2nd row -->
        <div class="col-12 col-lg-3 pt-3 d-none d-lg-block fixed ">
            <div class="row">
                <!-- 1st adds card -->
                <div class="card p-2 m-2  ">
                    <img class=" img-fluid " src="https://www.uniagents.com/assets/images/ads/small/poster-72dpi.jpg"
                        alt="Card image cap">
                </div>
                <!-- 2nd adds card -->
                <div class="card p-2 m-2">
                    <img class="card-img-top img-fluid"
                        src="https://www.uniagents.com/assets/images/ads/small/Swiss-Education-Group.jpg"
                        alt="Card image cap">
                </div>
                <!-- 3rd adds card -->
                <div class="card p-2 m-2">
                    <img class="card-img-top img-fluid"
                        src="https://www.uniagents.com/assets/images/ads/small/International%20Banner2.png"
                        alt="Card image cap">
                </div>
                <!-- 4th adds card -->
                <div class="card p-2 m-2">
                    <img class="card-img-top img-fluid"
                        src="https://www.uniagents.com/assets/images/ads/small/niyo_global_card.jpg"
                        alt="Card image cap">
                </div>

            </div>
        </div>
    </div>
    <div class="spacer60"></div>
</section>
<!-- blog setion end completely -->


<!-- secion clients review videos -->
<section class="clients-review container-fluid bg-light fixed py-5">
    <!-- heading -->
    <div class="spacer"></div>
    <h3 class="text-center mx-auto text-muted pb-2">Clients Speak</h3>
    <div class="spacer60"></div>
    <div class=" row mx-auto d-flex justify-content-around text-center">
        <!-- 1st video -->
        <div class="col-12 col-md-3 no-gutters"><iframe width="320" height="240"
                src="https://www.youtube-nocookie.com/embed/k2kFbu492N4?controls=0" title="YouTube video player"
                frameborder="0"
                allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"></iframe>
        </div>
        <!-- 2nd video -->
        <div class="col-12 col-md-3 no-gutters"><iframe width="320" height="240"
                src="https://www.youtube-nocookie.com/embed/k2kFbu492N4?controls=0" title="YouTube video player"
                frameborder="0"
                allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"></iframe>
        </div>
        <!-- 3rd videos -->
        <div class="col-12 col-md-3 no-gutters"><iframe width="320" height="240"
                src="https://www.youtube-nocookie.com/embed/k2kFbu492N4?controls=0" title="YouTube video player"
                frameborder="0"
                allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"></iframe>
        </div>
        <!-- 4th videos  -->
        <div class="col-12 col-md-3 no-gutters"><iframe width="320" height="240"
                src="https://www.youtube-nocookie.com/embed/k2kFbu492N4?controls=0" title="YouTube video player"
                frameborder="0"
                allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"></iframe>
        </div>

    </div>
    <!-- see all button -->
    <div class="spacer"></div>
    <div class=" mx-auto text-center p-3"><a class="" href="#"><button class="btu ">view All</button> </a></div>
    </div>
    <div class="spacer"></div>
</section>
<!-- section end review videos -->
<!-- section  recent registered cards -->
<section class="recent-registered container-fluid  fixed py-3">
    <!-- heading -->
    <div class="spacer"></div>
    <div class="heading">
        <h3 class="heading p-3 text-muted mx-auto text-center">Currently Registered Students</h3>
    </div>
    <div class="spacer"></div>
    <!-- card container -->
    <div class="container row mx-auto ">
        <!-- 1st col -->
        <div class="col-12 col-md-3">
            <div class="mx-auto text-center rounded-circle">
                <img class="img-fluid featured-imgs rounded-circle"
                    src="https://www.uniagents.com/images/student-thumbs/no_user.gif" alt="Card image cap">
                <div class=""> <a href="#" class="text-muted text-capitalize text-bold">ankita</a></div>
                <div class=""> <a href="#" class="text-muted"><i>Lakhnow</i></a></div>
            </div>
        </div>
        <!-- 2nd col -->
        <div class="col-12 col-md-3">
            <div class="mx-auto text-center rounded-circle">
                <img class="img-fluid featured-imgs rounded-circle"
                    src="https://www.uniagents.com/images/student-thumbs/no_user.gif" alt="Card image cap">
                <div class=""> <a href="#" class="text-muted text-capitalize text-bold">rahul</a></div>
                <div class=""> <a href="#" class="text-muted"><i>chenai</i></a></div>
            </div>
        </div>
        <!-- 3rd col -->
        <div class="col-12 col-md-3">
            <div class="mx-auto text-center rounded-circle">
                <img class="img-fluid featured-imgs rounded-circle"
                    src="https://www.uniagents.com/images/student-thumbs/no_user.gif" alt="Card image cap">
                <div class=""> <a href="#" class="text-muted text-capitalize text-bold">Vinaike Shani</a></div>
                <div class=""> <a href="#" class="text-muted"><i>delhi</i></a></div>
            </div>
        </div>
        <!-- 4th col -->
        <div class="col-12 col-md-3">
            <div class="mx-auto text-center rounded-circle">
                <img class="img-fluid featured-imgs card-icon rounded-circle"
                    src="https://www.uniagents.com/images/student-thumbs/no_user.gif" alt="Card image cap">
                <div class=""> <a href="#" class="text-muted text-capitalize text-bold">Pushpandra Yaduv</a></div>
                <div class=""> <a href="#" class="text-muted"><i>delhi</i></a></div>
            </div>
        </div>

    </div>
    <!-- section end of recent registered -->
    <div class="spacer"></div>
</section>



l{% load static %}
<!-- home .js linked but empty for extra javascript functionality -->
<script src="{% static 'js/home.js' %}"></script>

{% endblock main %}