{% extends 'base.html' %}
{% block css %}
{% load static %}
<link rel="stylesheet" type="text/css" href="{% static 'css/student_clients.css' %}">
{% endblock css %}


<link rel="stylesheet" type="text/css" href="{% static 'css/student-clients-speak.css' %}>


<!-- content-bloack main -->
{% block main %}

<section class=" container-fluid bg-primary p-4 ">
<h3 class=" text-center mx-auto text-white pb-5">Clients Speak</h3>
<div class=" row mx-auto d-flex justify-content-around text-center">
    <div class="col-12 col-md-3 no-gutters"><iframe width="320" height="240"
            src="https://www.youtube-nocookie.com/embed/k2kFbu492N4?controls=0" title="YouTube video player"
            frameborder="0"
            allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"></iframe>
    </div>
    <div class="col-12 col-md-3 no-gutters"><iframe width="320" height="240"
            src="https://www.youtube-nocookie.com/embed/k2kFbu492N4?controls=0" title="YouTube video player"
            frameborder="0"
            allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"></iframe>
    </div>
    <div class="col-12 col-md-3 no-gutters"><iframe width="320" height="240"
            src="https://www.youtube-nocookie.com/embed/k2kFbu492N4?controls=0" title="YouTube video player"
            frameborder="0"
            allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"></iframe>
    </div>
    <div class="col-12 col-md-3 no-gutters"><iframe width="320" height="240"
            src="https://www.youtube-nocookie.com/embed/k2kFbu492N4?controls=0" title="YouTube video player"
            frameborder="0"
            allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"></iframe>
    </div>


</div>
<div class=" mx-auto text-center p-3"><a class="" href="#"><button class="btu btn btn-success ">See All</button> </a>
</div>
<div class="spacer60"></div>
</div>


</section>
<div class="spacer60"></div>
<!-- 2nd section clients -->
<section class="container-fluid ">
    <h1 class="main-head primary text-center text-muted py-2">Words of Appreciation</h1>
    <div class="row no-gutters m-2 p-3 mx-auto col-py-2">
        <div class="col-12 col-md-6 col-lg-3 ">
            <div class="image mx-auto">
                <img src="https://www.uniagents.com/assets/images/Aaron-Mitich.jpg" alt="" class="img-fluid card-image">
                <div class="details">
                    <h2>Aaron Mitich
                    </h2>

                    <p class="p-text">Absolutely impressed with the details to which this Summit is planned and
                        executed<br>
                        <small>Global Director of School &amp; Institutional Partnerships</small>
                        <small>Cambridge Education Group, Thailand</small>
                    </p>
                    <div class="more ">
                        <a href="#" class="more-text"> <span>read more</span> </a>
                        <a href="#" class=" more-text"> <i class="icon fa fa-share"></i></a>


                    </div>

                </div>
            </div>
        </div>
        <!-- 1st card end -->
        <div class="col-12 col-md-6 col-lg-3">
            <div class="image mx-auto">
                <img src="https://www.uniagents.com/assets/images/Amanda-Sanchez.jpg" alt=""
                    class=" img-fluid card-image">
                <div class="details">
                    <h2>Amanda Sanchez
                    </h2>
                    <p class="p-text">
                        Very Insightful sessions. Everything organised by the UniAgents team was way beyond
                        satisfaction<br>
                        <small>Founder</small>
                        <small>Global Gurus, USA</small>
                    </p>
                    <div class="more">
                        <a href="" class="more-text"> <span>read more</span> </a>
                        <div class="icons">
                            <a href="" class=" more-text"> <i class="icon fa fa-share"></i></a>

                        </div>
                    </div>

                </div>
            </div>
        </div>
        <!-- 2nd end -->
        <div class="col-12 col-md-6 col-lg-3">
            <div class="image mx-auto">
                <img src="https://www.uniagents.com/assets/images/Denissza-Blanar.jpg" alt=""
                    class="card-image img-fluid">
                <div class="details">
                    <h2>Denissza Blanar
                    </h2>
                    <p class="p-text">I must congratulate the team for such an amazing event, it's been a week and we
                        already have
                        received 3 applications<br>
                        <small>International Director</small>
                        <small>Budapest Metropolitan University, Hungary</small>
                    </p>
                    <div class="more">
                        <a href="" class="more-text"> <span>read more</span> </a>
                        <div class="icons">
                            <a href="" class="more-text"> <i class="icon fa fa-share"></i></a>

                        </div>
                    </div>

                </div>
            </div>
        </div>
        <!-- 3rd end  -->
        <div class="col-12 col-md-6 col-lg-3 text-center">
            <div class="image mx-auto">
                <img src="https://www.uniagents.com/assets/images/Christopher-Hall.jpg" alt=""
                    class="card-image img-fluid">
                <div class="details img-fluid">
                    <h2>Christopher HALL
                    </h2>
                    <p class="p-text">I found the three days extremely valuable<br>
                        <small>Manager - South East Asia</small>
                        <small>Australian Boarding Schools International, Australia</small>
                    </p>
                    <div class="more">
                        <a href="" class="more-text"> <span>read more</span> </a>
                        <div class="icons">
                            <a href="" class="more-text"> <i class="icon fa fa-share"></i></a>

                        </div>
                    </div>

                </div>
            </div>
        </div>
        <!-- 4th end -->
        <div class="col-12 col-md-6 col-lg-3  ">
            <div class="image mx-auto">
                <img src="https://www.uniagents.com/assets/images/Dr-Wilhelm-Zoltan.jpg" alt=""
                    class="img-fluid card-image">
                <div class="details">
                    <h2>Dr. WILHELM Zoltán,

                    </h2>

                    <p class="p-text">
                        Brilliantly organized UniAgents Annual Summit<br>
                        <small>Cultural Counsellor</small>
                        <small>Hungarian Information and Cultural Centre, Hungary</small>

                    <div class="more ">
                        <a href="#" class="more-text"> <span>read more</span> </a>
                        <a href="#" class=" more-text"> <i class="icon fa fa-share"></i></a>


                    </div>

                </div>
            </div>
        </div>
        <!-- 5th end -->
        <div class="col-12 col-md-6 col-lg-3">
            <div class="image mx-auto">
                <img src="https://www.uniagents.com/assets/images/Manish-Sisodia.jpg" alt=""
                    class=" img-fluid card-image">
                <div class="details">
                    <h2>Manish Sisodia
                    </h2>
                    <p class="p-text">
                        So proud to see something of this magnitude, wellorganised. Will support the endeavours<br>
                        <small>Deputy CM and Education Minister</small>
                        <small>Delhi Government, India</small>

                    </p>
                    <div class="more">
                        <a href="" class="more-text"> <span>read more</span> </a>
                        <div class="icons">
                            <a href="" class=" more-text"> <i class="icon fa fa-share"></i></a>

                        </div>
                    </div>

                </div>
            </div>
        </div>
        <!-- 6th end -->
        <div class="col-12 col-md-6 col-lg-3">
            <div class="image mx-auto">
                <img src="https://www.uniagents.com/assets/images/Milan-Hovorka.jpg" alt=""
                    class="card-image img-fluid">
                <div class="details">
                    <h2>Milan Hovorka
                    </h2>
                    <p class="p-text">This event is a tremendous platform for International Institutions to tap Indian
                        Market<br>
                        <small>Ambassador</small>
                        <small>Embassy of the Czech Republic, Czech Republic</small>

                    </p>
                    <div class="more">
                        <a href="" class="more-text"> <span>read more</span> </a>
                        <div class="icons">
                            <a href="" class="more-text"> <i class="icon fa fa-share"></i></a>

                        </div>
                    </div>

                </div>
            </div>
        </div>
        <!-- 7th end -->
        <div class="col-12 col-md-6 col-lg-3 text-center">
            <div class="image mx-auto">
                <img src="https://www.uniagents.com/assets/images/Raul-D-Souza.jpg" alt="" class="card-image img-fluid">
                <div class="details img-fluid">
                    <h2>Raul D'Souza
                    </h2>
                    <p class="p-text">Really useful for an institution of our reputation to meet right kind of partners
                        and
                        Students<br>
                        <small>Indian Sub-continent &amp; Gulf Area Manager</small>
                        <small>Istituto Marangoni Milano, Italy</small>

                    </p>
                    <div class="more">
                        <a href="" class="more-text"> <span>read more</span> </a>
                        <div class="icons">
                            <a href="" class="more-text"> <i class="icon fa fa-share"></i></a>

                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
</section>
<!-- 2nd section end  -->
<div class="spacer60"></div>
<!-- 3rd section letters appreations -->
<section class="container-fluid ">
    <h1 class="main-head primary text-center text-muted py-2">Letters of Appreciation</h1>
    <div class="row no-gutters m-2 p-3 mx-auto col-py-2">


        <div class="col-12 col-md-6 col-lg-3  ">
            <div class="image mx-auto">
                <img src="https://www.uniagents.com/assets/images/northtech.jpg" alt="" class="img-fluid card-image">
                <div class="details mx-auto">
                    <h4 class="text-left">

                    </h4>

                    <p class="p-text">
                        Using UniAgents CRM we have fully automated the application process by generating the digital
                        offer letters, tracking the applications history, managing all our agents and their reports
                        on a centralised system, thus it has significantly improved our agent relationships.
                        <br>
                        <small><i class=" text-underline">Northtec Polytechnic, New Zealand</i></small>
                    </p>
                    <div class="more  ">
                        <a href="#" class="more-text"> <span>read more</span> </a>
                        <a href="#" class=" more-text"> <i class="icon fa fa-share"></i></a>


                    </div>

                </div>
            </div>
        </div>
        <!-- 5th end -->
        <div class="col-12 col-md-6 col-lg-3">
            <div class="image mx-auto">
                <img src="https://www.uniagents.com/assets/images/Whitireia-Polytechnic.jpg" alt=""
                    class="img-fluid card-image">
                <div class="details">
                    <h4 class="text-center">

                    </h4>

                    <p class="p-text">
                        Significantly improved our agent relationships, streamlined documentation and enhanced our
                        recruitment numbers from our offshore markets
                        <br>
                        <small><i class=" text-underline">New Zealand</i></small>
                    <div class="more ">
                        <a href="#" class="more-text"> <span>read more</span> </a>
                        <a href="#" class=" more-text"> <i class="icon fa fa-share"></i></a>


                    </div>

                </div>
            </div>
        </div>
        <!-- 6th end -->
        <div class="col-12 col-md-6 col-lg-3">
            <div class="image mx-auto">
                <img src="https://www.uniagents.com/assets/images/University-of-Ulster.jpg" alt=""
                    class="img-fluid card-image">
                <div class="details">
                    <h4 class="text-center">

                    </h4>

                    <p class="p-text">
                        In one year Ulster has received applications from 64 countries and managed to maintain the
                        diversity in our student community.<br>
                        <small> <i>UK</i></small>
                    </p>
                    <div class="more ">
                        <a href="#" class="more-text"> <span>read more</span> </a>
                        <a href="#" class=" more-text"> <i class="icon fa fa-share"></i></a>


                    </div>

                </div>
            </div>
        </div>
        <!-- 7th end -->
        <div class="col-12 col-md-6 col-lg-3 text-center">
            <div class="image mx-auto">
                <img src="https://www.uniagents.com/assets/images/Golden-Gate-University.jpg" alt=""
                    class="img-fluid card-image">
                <div class="details">
                    <h4 class="text-center">

                    </h4>

                    <p class="p-text">

                        UniAgents has given us a platform to explore opportunities all over the world for Golden Gate
                        University. It has provided us an extended arm in exploring consultancies who are reliable
                        and meticulous in their work.<br>
                        <small> <i> USA</i></small>
                    </p>
                    <div class="more ">
                        <a href="#" class="more-text"> <span>read more</span> </a>
                        <a href="#" class=" more-text"> <i class="icon fa fa-share"></i></a>


                    </div>

                </div>
            </div>
        </div>
</section>


{% endblock main %}