{% extends 'base.html' %}
{% block css %}
{% load static %}
<link rel="stylesheet" type="text/css" href="{% static 'css/student-register.css' %}">
{% endblock css %}

<!-- content-bloack main -->
{% block main %}
<section class="container-fluid mx-auto bg-light">
    <div class="main-container  p-2">
        <div class="row">
            <div class="col-12 col-md-8 ">
                <div class="main-heading  pt-4">
                    <h3 class="text-black-50 text-capitalize">Registration <span
                            class="text-bold text-primary ">Form</span></h3>
                </div>
                <hr />
                <!-- text header -->
                <div class="hidden text-left">
                    <p><strong>Important Instructions</strong></p>
                    <ul class="square list-unstyled text-black-50 pl-2">
                        <li>Must be filled by the person Responsible for overall International Student
                            Recruitments for the Institution
                        </li>
                        <li>Must use official Institution Email ID</li>
                        <li>Must provide Direct Fixed Line Number at the Institution for Telephonic
                            Verification
                        </li>
                    </ul>
                </div>

                <!-- form  -->
                <div class="">
                    <form class="row">
                        <div class="col-12 col-md-6 ">
                            <div class="form-group">
                                <label for="formGroupExampleInput">Institution Name *</label>
                                <input type="text" class="form-control" id="formGroupExampleInput" placeholder="">
                            </div>

                        </div>
                        <div class="col-12 col-md-6 ">
                            <div class="form-group">
                                <label for="formGroupExampleInput2">Type *</label>
                                <select class="custom-select" id="formGroupExampleInput2">
                                    <option selected>--Select--</option>
                                    <option value="1">One</option>
                                    <option value="2">Two</option>
                                    <option value="3">Three</option>
                                </select>
                            </div>
                        </div>
                        <div class="col-12 col-md-6 ">
                            <div class="form-group">
                                <label for="formGroupExampleInput">Address *</label>
                                <input type="text" class="form-control" id="formGroupExampleInput" placeholder="">
                            </div>
                        </div>
                        <div class="col-12 col-md-6 ">
                            <div class="form-group">
                                <label for="formGroupExampleInput2">City *</label>
                                <input type="text" class="form-control" id="formGroupExampleInput2" placeholder="">
                            </div>
                        </div>
                        <div class="col-12 col-md-6 ">
                            <div class="form-group">
                                <label for="formGroupExampleInput2">State *</label>
                                <input type="text" class="form-control" id="formGroupExampleInput2" placeholder="">
                            </div>
                        </div>
                        <div class="col-12 col-md-6 ">
                            <div class="form-group">
                                <label for="formGroupExampleInput2">Country *</label>
                                <select class="custom-select" id="formGroupExampleInput2">
                                    <option selected>Selecte country</option>
                                    <option value="1">One</option>
                                    <option value="2">Two</option>
                                    <option value="3">Three</option>
                                </select>
                            </div>
                        </div>
                        <div class="col-12 col-md-6 ">
                            <div class="form-group">
                                <label for="formGroupExampleInput2">Zip/Postel Code *</label>
                                <input type="text" class="form-control" id="formGroupExampleInput2" placeholder="">
                            </div>
                        </div>
                        <div class="col-12 col-md-6 ">
                            <div class="form-group">
                                <label for="formGroupExampleInput2">Time Zone *</label>
                                <select class="custom-select" id="formGroupExampleInput2">
                                    <option selected>Select Time Zone</option>
                                    <option value="1">One</option>
                                    <option value="2">Two</option>
                                    <option value="3">Three</option>
                                </select>
                            </div>
                        </div>
                        <div class="col-12 col-md-6 ">
                            <div class="form-group">
                                <label for="formGroupExampleInput2">Years of Establishment *</label>
                                <input type="text" class="form-control" id="formGroupExampleInput2" placeholder="">
                            </div>
                        </div>
                        <div class="col-12 col-md-6 ">
                            <div class="form-group">
                                <label for="formGroupExampleInput2">Funding Type *</label>
                                <select class="custom-select" id="formGroupExampleInput2">
                                    <option selected>Selecte Funding Type</option>
                                    <option value="1">One</option>
                                    <option value="2">Two</option>
                                    <option value="3">Three</option>
                                </select>
                            </div>
                        </div>
                        <div class="col-12 col-md-6 ">
                            <div class="form-group">
                                <label for="formGroupExampleInput">Your Name *</label>
                                <input type="text" class="form-control" id="formGroupExampleInput" placeholder="">
                            </div>
                        </div>
                        <div class="col-12 col-md-6 ">
                            <div class="form-group">
                                <label for="formGroupExampleInput2">Your Designation in the Institution *</label>
                                <input type="text" class="form-control" id="formGroupExampleInput2" placeholder="">
                            </div>
                        </div><div class="col-12 col-md-6 ">
                            <div class="form-group">
                                <label for="formGroupExampleInput">Your Official Email ID / (User ID)*</label>
                                <input type="text" class="form-control" id="formGroupExampleInput" placeholder="Your Official Email ID / (User ID)*">
                            </div>
                        </div>
                        <div class="col-12 col-md-6 ">
                            <div class="form-group">
                                <label for="formGroupExampleInput2">Create a Password *</label>
                                <input type="password" class="form-control" id="formGroupExampleInput2" placeholder="">
                            </div>
                        </div><div class="col-12 col-md-6 ">
                            <div class="form-group">
                                <label for="formGroupExampleInput">Alternate Email ID</label>
                                <input type="email" class="form-control" id="formGroupExampleInput" placeholder="">
                            </div>
                        </div>
                        <div class="col-12 col-md-6 ">
                            <div class="form-group">
                                <label for="formGroupExampleInput2">Your Skype ID</label>
                                <input type="text" class="form-control" id="formGroupExampleInput2" placeholder="">
                            </div>
                        </div><div class="col-12 col-md-6 ">
                            <div class="form-group">
                                <label for="formGroupExampleInput">Direct Phone Number *</label>
                                <input type="text" class="form-control" id="formGroupExampleInput" placeholder="">
                            </div>
                        </div>
                        <div class="col-12 col-md-6 ">
                            <div class="form-group">
                                <label for="formGroupExampleInput2">Mobile Number</label>
                                <input type="text" class="form-control" id="formGroupExampleInput2" placeholder="">
                            </div>
                        </div><div class="col-12 col-md-6 ">
                            <div class="form-group">
                                <label for="formGroupExampleInput">Institution Website *</label>
                                <input type="text" class="form-control" id="formGroupExampleInput" placeholder="">
                            </div>
                        </div>
                        <div class="col-12 col-md-6 ">
                            <div class="form-group">
                                <label for="formGroupExampleInput2">Your LinkedIn Profile URL</label>
                                <input type="text" class="form-control" id="formGroupExampleInput2" placeholder="">
                            </div>
                        </div>
                        <div class="col-12 col-md-6 hidden">
                            <div class="form-group">
                                <label for="formGroupExampleInput2">Your LinkedIn Profile URL</label>
                                <input type="text" class="form-control" id="formGroupExampleInput2" placeholder="">
                            </div>
                        </div>
                        <div class="col-12 col-md-6 ">
            
                                <input type="text"hidden class="form-control" id="formGroupExampleInput2" placeholder="">
                            
                        </div>
                        <br>

                        <div class="text-center mx-auto col-12 my-3">
                            <input type="checkbox" checked="" name="term_and_condition" value="1" id="term_and_condition" onclick=" false" required=""> I accept
                            <a href="terms-and-condition.php" target="_blank"><span><strong>Terms and Conditions</strong></span>
                            </a>
                        </div>
                        <br>
                        <div class="col-12 mx-auto text-center my-2">
                            <input type="submit" value="Register" class="btn btn-primary btn-lg">
                        </div>
                        <!-- </form> -->
                    </form>
                </div>
            </div>
            <div class="col-12 col-md-4 my-5 p-3"><div class="bg-primary text-white p-3">
                <div class="content">
                    <div class="main-heading">Dear Institution,<br>
                        <span><strong>Welcome to UNICA – University Common Application!</strong></span>
                    </div>
                    <p>We are delighted to hear that you are keen to register with UNICA as an Institution.</p>

                    <p>Unica has been a dominating technology organization with a core focus in the International
                        Student mobility industry. The aim has to make the institution relationships aimed at
                        international student procurement extremely effective using the tech-tools, intelligence and
                        AI.</p>

                    <p>We have no interest in revenues from Students Recruitment. Our aim is to ensure that
                        technology should facilitate and produce intelligence for the decision makers in this
                        sector.</p>
                    <p><strong>UNICA as a parent company owns a few brands in the sector focused on relevant
                            stakeholders;</strong></p>
                    <p>UNICA.CO.IN is committed to streamline and automate your International Students Recruitment.
                        First time ever you will be able to receive DIRECT COMPLETE AND COMPLIANT applications
                        forFREE:</p>
                    <ul style="font-size:14px;line-height:18px;">
                        <li>Receive not just Leads but full Applications through our Student Interaction Portals
                        </li>
                        <li>No COST to be PAID upfront</li>
                        <li>Allocate Procurement Budget per Student, part of which is given back to the Eligible
                            Student as SCHOLARSHIP
                        </li>
                        <li>UNICA will take the RISK and will promote your institution amongst the interested
                            students
                        </li>
                        <li>Students will be Pre-Screened and filtered with the use of technology and little human
                            intervention
                        </li>
                        <li>UNICA processing officer will help you receive completed applications</li>
                        <li>Assign the allotted Procurement Budget 6 WEEKS AFTER the successful Enrollment of the
                            student.
                        </li>
                        <li>Get Featured Listing by just attending our Not for Profit events or Modifying your
                            strategy based on the demand trends available from our portal
                        </li>
                    </ul>
                    <p><strong>What Happens Next?</strong><br>After completing the form, you will receive an email
                        to validate your email address and activate your account. You will be required to click on
                        the relevant link and once your account is verified, Use an incredibly simple process to
                        configure your account and add users. It can take up to 72 hours to activate your account
                        once the authentication is completed.</p>

                    <p><strong>Got Issues?</strong><br>
                        Send us an email on <a href="mailto:admin@unica.co.in" style="color:#f9f04f"><i>admin@unica.co.in</i></a>&nbsp;
                        we will be delighted to help.</p>
                    <div class="spacer"></div>
                    <p>Best Wishes<br></p>
                    <p><b>Team Unica</b></p>

                </div>
            </div></div>
        </div>
    </div>
</section>
{% endblock main %}