{% extends 'base.html' %}
{% block css %}
{% load static %}
<link rel="stylesheet" type="text/css" href="{% static 'css/student-promotional.css' %}">
{% endblock css %}
{% block main %}
<!-- student promotional section -->
<section class="services container-fluid  fixed bg-light ">

    <div class="row py-4">
        <div class="col-12">
            <div class="mx-auto">
                <h3 class="heading mx-auto py-2 text-capitalize text-center text-muted">B2B - Promotional Campaign</h3>
            </div>
            <div class=" mx-auto text-center text-muted">
                <p>B2B - Promotional Campaign is the most
                    powerful digital tool to connect with Higher
                    Education Providers, High Schools,
                    Institutions and Foundation Schools globally.</p>
                <p>You can choose your audience, message and a date to roll out your campaign. It is much more efficient
                    than any other social media and online resources as it is very niche and focuses on the Higher
                    Education sector. Our clients believe that they have obtained 100 times better results than any
                    other social media platform.</p>
                <p>If you have the policy to engage certified education consultants/Agents, then this also provides you
                    access to browse 50 Agents per month.</p>
            </div>
        </div>
        <div class=" mx-auto text-center p-3"><a class="" href="#"><button class=" btn-lg btn btn-primary ">Read More</button> </a></div>
       
       
        <!-- promotional plan section end -->
</section>
<section class="card-quick container">
     <!-- 2nd heading of table -->
     <p class="text-center text-muted" style="font-size:20px;">Generate a quick quote for yourself by choosing your own target audience. It will take less than 2
        minutes.</p>
        <div class="spacer"></div>
        <div class="head text-center mb-2 p-2">Select your plan to get started</div>

        <div class="row">
            <div class="col-12 col-lg-4 ">
                <ul class="plan-box list-unstyled cards-demo ">
                    <li class="head text-center bg-primary text-white text-bold p-3">Promotion Type / Features</li>
                    <li class="detail text-left arrow card p-2">Number of organization in the newsletter</li>
                    <li class="detail text-left arrow card p-2">Design and Format</li>
                    <li class="detail text-left arrow card p-2">Promotional Banner Size</li>
                    <li class="detail text-left arrow card p-2">Validity of Banner</li>
                    <li class="detail text-left arrow card p-2">Average Responses per newsletter to global audience</li>
                    <li class="detail text-left arrow card p-2">Routing to your website</li>
                    <li class="detail text-left arrow card p-2">Word limit in the main Newsletter</li>
                    <li class="detail text-left arrow card p-2">Customized Landing page</li>
                    <li class="detail text-left arrow card p-2">Best Suitable for</li>
                    <li class="detail text-left arrow card p-2">Choose your own date of campaign</li>
                    <li class="detail text-left arrow card p-2">Pricing Range</li>
                   <!-- <div class="detail text-left arrow">Sample Banner</div>
                    <div class="detail text-left arrow">Sample Newsletter</div>-->
                    <li class="detail text-left py-2" style="color:#ec002f;line-height:20px;"><span style="font-size:18px;line-height:initial;display:inline;">*</span> No newsletter from an agent will be roll out to the Institutions or High Schools</li>
                </ul>
            </div>
            <div class="col-12 col-lg-4">
                <ul class="cards-demo list-unstyled  ">
                    <li class="head text-center bg-primary text-white text-bold p-3">Exclusive</li>
                    <li class="detail text-center arrow card p-2">Only 1 (Exclusive)</li>
                    <li class="detail text-center arrow card p-2">Customized</li>
                    <li class="card text-center p-2 d-flex"><span> 280px &nbsp;<i class="fa fa-remove"></i>&nbsp; 960px - Sample</span></li>
                    <li class="detail text-center arrow card p-2"><div class="detail">1,00,000 impressions</div></li>
                    <li class="detail text-center arrow card p-2"><div class="detail">430</div></li>
                    <li class="detail text-center arrow card p-2"><div class="detail">Yes</div></li>
                    <li class="detail text-center arrow card p-2"><div class="detail">No Limit - <a class="popUp" href="javascript:void(0);" style="color:#0a6aa1;font-weight:bold;" data-url="sample-banner.php?type=en">Sample</a></div></li>
                    <li class="detail text-center arrow card p-2"><div class="detail">Yes</div></li>
                    <li class="detail text-center arrow card p-2"><div class="detail">Establishing new network and Lead Generation</div></li>
                    <li class="detail text-center arrow card p-2"><div class="detail" style="padding:0px 0px 0 15px;">Yes, choose your own date from the<br>available
                        dates on the campaign calendar.
                    </div></li>
                    <li class="detail text-center arrow  py-2"><div class="detail">1850 USD to 4250 USD</div></li>
                   <!-- <div class="detail text-left arrow">Sample Banner</div>
                    <div class="detail text-left arrow">Sample Newsletter</div>-->
                    <li class="detail text-center  py-2"><div class="detail">
<!-- 
                        <form method="post" id="form_id_d">
                            <input name="type" value="D" type="hidden">
                            <input value="Select" class="btn btn-primary btn-lg" type="submit">

                        </form> -->
                    </div></li>
                </ul>
            </div>
            <div class="col-12 col-lg-4">
                <ul class="cards-demo list-unstyled">
                    <li class="head text-center bg-primary text-white text-bold p-2"><div class="head">Shared</div></li>
                    <li class="detail text-center arrow card p-2"><div class="detail">Up to 3</div></li>
                    <li class="detail text-center arrow card p-2"><div class="detail">Standard</div></li>
                    <li class="detail  arrow card p-2"><div class="detail d-flex text-center justify-content-center form-inline">&nbsp;280px <i class="fa fa-remove">&nbsp;</i> 320px -&nbsp; <a class="popUp" href="javascript:void(0);" style="color:#0a6aa1;font-weight:bold;" data-url="sample-banner.php?type=s">Sample</a></div></li>
                    <li class="detail text-center arrow card p-2"><div class="detail">50,000 impressions</div></li>
                    <li class="detail text-center arrow card p-2"><div class="detail">58</div></li>
                    <li class="detail text-center arrow card p-2"><div class="detail">No</div></li>
                    <li class="detail text-center arrow card p-2"><div class="detail d-flex justify-content-center">50 Words - <a class="popUp" href="javascript:void(0);" style="color:#0a6aa1;font-weight:bold;" data-url="sample-banner.php?type=sn">Sample</a></div></li>
                    <li class="detail text-center arrow card p-2"><div class="detail">Yes</div></li>
                    <li class="detail text-center arrow card p-2"><div class="detail " style="padding:0px 0px 0 15px;">Sending regular updates to<br>stakeholders and
                        Brand building.
                    </div></li>
                    <li class="detail text-center arrow card p-2"><div class="detail" style="padding:0px 0px 0 15px;">Date allocated within 45 days of
                        subscription.<br>Average waiting time 22 days.
                    </div></li>
                  
                   <!-- <div class="detail text-left arrow">Sample Banner</div>
                    <div class="detail text-left arrow">Sample Newsletter</div>-->
                    <li class="detail text-center p-2"><div class="detail">950 USD to 2150 USD</div></li>
                </ul>
            </div>
        </div>

        <div class="fr-text">
            <i style="max-width:900px;display:block;margin:0 auto;line-height:21px;color:#c43128;">* Pricing Range
                depends on size of selected audience and regions. Highest price indicated above stands for entire
                audience globally. Pricing is dynamic and it's based on demand for type of audience. Use the price
                calculator to generate your own quotation</i>
        </div>
</section>



{% endblock main %}